#TaskW_table_container {
    width: 1140px;
}
/*
#TaskW_table_container table tbody td {
    min-width: 120px;
}*/

.header_comp {
	display: inline-block;
	float: right;
}

.header_comp .soranButton {
	margin-left: 5px;
	margin-top: -3px;	
}

#CNGReport_filter_form label {
    display: inline;
}

#CNGReport_filter_form .select2-container.filter_input {
    float: right;
    margin-bottom: 0px !important;
    padding: 0px 0px 0px 0px;
}